.google-maps {
  position: relative;
  height: 30%;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.fb{
  color: #3b5998;
}
.insta{
  color: white;
  border-radius: 20%;
  padding:1.3px;
  background: radial-gradient(circle at 33% 100%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  /*  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf) */
}

.success{
  color:#4BB543;
}
