.smallbuttons{
  display:none;
}
.oneSectionCarousel{
  display: none;
}

@media(max-width: 667px){
  .threeSectionCarousel{
    display: none;
  }
  .oneSectionCarousel{
    display: block;
  }
}


.subheader{
  background: linear-gradient(to right,#00c4cc,#7d2ae8);
  color: white;
}
.homeText{
  color: white;
  font-size: 4rem;
  font-weight: 600;
}
.carouselImage{
  width: 80%;
  height: 15rem;
  border:1px solid black;
  margin:auto;
  background-color: black;
}
.carouselSection{
  width: 30%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.carouselItem{
  display: flex;  
  justify-content: center;
}
.carouselCaption{
  width: 80%;
  padding: 0;
  margin:auto;
  text-align: center;
  border:1px solid black;
}
.carousel-control.left { 
  left: -20px; 

}
.carousel-control.right { 
  right: -20px;
}
.carousel-control-prev, .carousel-control-next {
  padding:0;
  width:5%;
  opacity: 1;
  background-image:none !important;
  filter:none !important;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
  opacity: 0.5;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
